---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { supabase } from '../lib/supabaseClient.js';

let user = undefined;

const { data } = await supabase.auth.getUser();
user = data.user;
---

<header>
	<nav>
		<div class="left-logo">
		  <h2><a href="/">{SITE_TITLE}</a></h2>
		</div>
		<div class="center-links">
		  <HeaderLink href="/">Home</HeaderLink>
		  <HeaderLink href="/journey">Journey</HeaderLink>
		</div>
		<div class="right-links">
		  {user 
			? <button id="logout-btn" class="nav-btn">Log out</button> 
			: <button id="login-btn" class="nav-btn">Login</button>}
		</div>
	  </nav>

  <script type="module">
    import { supabase } from '../lib/supabaseClient.js'

    const loginBtn = document.getElementById('login-btn');
    if (loginBtn) {
      loginBtn.addEventListener('click', () => {
        window.location.href = '/join';
      });
    }

    const logoutBtn = document.getElementById('logout-btn');
    if (logoutBtn) {
      logoutBtn.addEventListener('click', async () => {
        await supabase.auth.signOut();
        location.reload();
      });
    }
  </script>
</header>

<style>
  header {
	margin: 0;
	padding: 0 1em;
	background: white;
	box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	}
	.left-logo h2 {
	margin: 0;
	font-size: 1em;
	}
	.left-logo a {
	text-decoration: none;
	color: var(--black);
	}
	.center-links {
	display: flex;
	gap: 1rem;
	justify-content: center;
	flex: 1;
	}
	.right-links {
	display: flex;
	}
	nav a,
	.nav-btn {
	padding: 1em 0.5em;
	color: var(--black);
	background: transparent;
	border: none;
	cursor: pointer;
	border-bottom: 4px solid transparent;
	font: inherit;
	text-decoration: none;
	transition: border-color 0.2s;
	}
	nav a.active,
	.nav-btn.active,
	nav a:hover,
	.nav-btn:hover {
	border-bottom-color: var(--accent);
	}

</style>
